html {
	font-size: 62.5%;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

*,
*::after,
*::before {
	padding: 0;
	margin: 0;
}

body {
	box-sizing: inherit;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 1.6rem;
}

a {
	color: inherit;
	text-decoration: none;
}

li {
	list-style: none;
}

.main-bg {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -10;
	img {
		width: 100%;
		height: 100%;
	}
}

.top {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 30%;
}

.board {
	width: 40%;
	img {
		width: 100%;
		height: 100%;
	}
}

.egg-section {
	position: absolute;
	bottom: 24%;
	right: 0%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	.blue-egg {
		margin-bottom: -70%;
	}

	.lamp {
		position: absolute;
		top: 0;
		left: 15%;
		transform: translateY(-50%);
		z-index: -3;
	}
	
	.nest {
		position: relative;
		z-index: -2;
	}
}

.bottom-section {
	.left-leaf {
		position: fixed;
		left: 0;
		bottom: -10px;
	}
	.right-leaf {
		position: fixed;
		right: 0;
		bottom: -10px;
	}
	.main-button {
		position: absolute;
		bottom: 10%;
		left: 50%;
		transform: translateX(-50%);

		.primary-button {
			padding: 8px 32px;
			background-color: greenyellow;
			display: block;
		}
	}
}
